@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);

html, body {
    margin: 0%;
    padding: 0%;
    background-color: #ecede5;
      }

* body {
box-sizing: border-box;
color: #605754;
font-family: Poppins, sans serif, times new roman;

text-align: center;
  }



#basket {
    display: flex;
    float: right;
    gap: 1rem;
  }


  .header {
    background: #eaeadd;
    background-image: url("./images/header_spain.jpg");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
    color: #47403d;
    font-size: 25px;
    border-bottom: 1px solid #ecede5;
    padding: 20px;
  }


/*.button {
    background-color: #b8cab0;
    color: #eee;
    padding: 15px 25px;
    text-decoration: none;
  }
  
 /*.button a:hover {
    background-color: #4d7050;
  }*/


  /*.card:nth-child(3) {
    display: flex;
    float: right;
  }*/

  .menu {
display: flex;
justify-content: center;
gap: 3rem;
flex-wrap: wrap;
border: 4px dotted white;
padding: 10px;
text-align: left;
}

.menu {
  overflow: hidden;
}

.menu img{
  width: 200px;
  height: 200px;
  object-fit: contain;
  transition: transform 400ms;
}

.menu:hover img{
  transform: scale(1.2);
}

menu > * {
    flex-basis: 100%;
    }

    #food_description {
        width: 200px;
        font-size: medium;
        }

/*.pay_button {
        border-bottom: 4px dotted white;
        padding-bottom: 10px;
        }*/

        /*.pay_button > * {
            flex-basis: 100%;
            }*/


  #footer { 
    background-color:#d8d8d0;
    color: #ecede5;
    font-size: small;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  #footer a:hover { 
    background-color: #ecede5
}

a:link {
  text-decoration: none;
  color: #877872;
}

a:visited {
  color: #877872;
}


 
  /*.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }